<div class="container product-detail-images">
  <%= link_to "返回", admin_products_path, class: 'btn btn-default' %>
  <%= link_to "编辑", edit_admin_product_product_detail_images_path(@product), class: 'btn btn-primary' %>
  <ol style="margin-top: 16px">
    <% @product.product_view.product_detail_images.each do |image| %>
      <li>
        <a class="thumbnail">
          <%= image_tag(asset_url(image.url), class: 'detail-image') %>
        </a>
      </li>
    <% end %>
  </ol>
</div>
