.game_poster_content {
  text-align: center;
}

.game_poster {
  width: 320px;
}

.game_container {
  background: #3BBD75;
}

.game_recommend_content {
  background: white;
  margin: 0 auto;
  width: 320px;
  overflow: hidden;
}

.game_recommend_title {
  margin: 20px 0px;
  text-align: center;
  color: #39BB75;
}

.game_share_title {
  float: left;
  margin: 10px;
}

.game_share_content {
  background: #E3E3E3;
  height: 40px;
  vertical-align: middle;
}

.game_share_icons img {
  width: 16px;
}

.game_recommend_product_content {
  float: left;
  width: 160px;
  text-align: left;
  border-bottom: 1px solid #E5E5E5;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.game_recommend_product_content img {
  width: 100%;
  height: 100%;
}

.game_recommend_product_container {
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
}

.game_recommend_product_detail {
  border-top: 1px solid #E5E5E5;
  padding: 10px;
}

.game_recommend_product_detail .product-discount-text {
  float: right;
}

.recommend_product_price {
  color: #FB3127;
  line-height: 18px;
}

.game_recommend_product_name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5px;
}
