/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.banner {
  width: 100%;
  height: 120px;
  overflow: hidden;
  background-color: black;
}

.product_now,
.product_soon {
  background-color: black;
}

.product_bottom_black {
  width: 147px;
  height: 48px;
  position: absolute;
  bottom: 0;
  background-image: url("../img/bottom.png");
}

.product_infos {
  position: absolute;
  bottom: 0;
  width: 147px;
  height: 48px;
  color: white;
}

.product_soon_ul {
  overflow: hidden;
}

.product_soon_ul li {
  float: left;
  position: relative;
  margin: 0px 6px;
}

.product_date {
  margin-left: 14px;
  margin-top: 3px;
}

.product_title {
  margin-left: 14px;
  margin-top: 2px;
}
