.user-op-container {
  background-color: #000;
  position: relative;
}

.user-op-form-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 10px;
}

.user-op-form {
  height: 360px;
  background-color: #FFF;
  margin-top: 50px;
  color: #898989;
  position: relative;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(162, 162, 162, 0.5);
  padding: 0 20px;
}

.user-op-form-panel {
  position: relative;
}

.user-op-form-header {
  text-align: center;
  color: #3BAF47;
  font-size: 21px;
  padding-top: 40px;
}

.user-op-form input {
  background-color: #EBEBEB;
  border-radius: 2px;
  border: 1px solid #DEDEDE;
  height: 44px;
  width: 100%;
  line-height: 36px;
  padding: 0 5px;
  *padding: 0;
  box-sizing: border-box;
}

.user-op-form input[type="checkbox"] {
  vertical-align: top;
  width: 14px;
  height: 14px;
}

.user-op-form input[type='submit'] {
  color: #FFF;
  background-color: #15AE10;
  border: none;
  font-size: 14px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26);
}

.user_info_box .error-message,
.user-op-form .error-message {
  font-size: 12px;
  color: #D73131;
}

.user-op-form .input-panel {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
}

.login-box .username-panel {
  top: 122px;
}

.login-box .password-panel {
  top: 182px;
}

.login-box .forget-password-panel {
  top: 240px;
}

.login-box .forget-password-panel a {
  color: #3BAF47;
}

.login-box .submit-panel {
  top: 270px;
}

.user-op-form-link {
  position: absolute;
  top: 24px;
  right: 22px;
}

.user-op-form-link a {
  color: #3BAF47;
}

.register-box .username-panel {
  top: 83px;
}

.register-box .security-code-panel {
  top: 143px;
  white-space: nowrap;
}

.register-box .password-panel {
  top: 203px;
}

.user-op-form .security-code-input {
  float: left;
  width: 150px;
  display: inline;
}

.user-op-form .security-code-button {
  float: right;
  border: 1px solid #E6E6E6;
  background-color: #FFF;
  height: 36px;
  color: #3BAF47;
  border-radius: 1px;
  box-sizing: border-box;
  width: 88px;
  margin-left: 7px;
  font-size: 12px;
}

.register-box .terms-of-service-panel {
  top: 260px;
}

.register-box .submit-panel {
  top: 293px;
}

.register-box .terms-of-service-panel a {
  color: #3BAF47;
}

.forget-password-box .username-panel {
  top: 122px;
}

.forget-password-box .security-code-panel {
  top: 182px;
}

.forget-password-box .submit-panel {
  top: 245px;
}

.reset-password-box .password-panel {
  top: 122px;
}

.reset-password-box .password-confirm-panel {
  top: 182px;
}

.reset-password-box .submit-panel {
  top: 245px;
}

.reset-password-to-login-link {
  display: none;
}

.user-op-form .success-icon {
  padding-top: 124px;
}

.user-op-form .success-message {
  padding-top: 53px;
  text-align: center;
  color: #3BAF47;
  font-size: 16px
}

.user-op-form .terms-of-service-title {
  padding-top: 42px;
  font-size: 21px;
  color: #000;
  text-align: center;
}

.user-op-form .terms-of-service-content {
  width: 250px;
  height: 280px;
  margin-top: 48px;
  margin-bottom: 44px;
  overflow: auto;
}

.user-op-form .close-button {
}

.order_box .return_action {
  position: relative;
  text-align: center;
}

.order_box .return_action_link {
  position: absolute;
  left: 0;
  top: 0;
}

.order_box .account_setting_return_action {
  position: relative;
  text-align: left;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #EEEEEE;
  padding-left: 20px;
  color: #979797;
}

.update_action {
  float: right;
  margin-right: 10px;
}

.return_action {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #EEEEEE;
}

.user_info {
  margin: 10px 20px 20px 20px;
}

.user_info_box {
  overflow: hidden;
}

.user_info_box ul li {
  overflow: hidden;
}

.user_info_box {
  overflow: hidden;
  background-color: #F7F7F7;
  padding: 6px;
  margin: 10px 0;
  display: none;
}

.change-personal-info {
  width: 320px;
}

.order_box {
  width: 320px;
  min-height: 320px;
  background-color: white;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 20px;
}

.setting_container {
  padding: 20px;
  width: 280px;
  overflow: hidden;
  margin: 0 auto;
}

#username-input {
  width: 100%;
}

.password-box .cd_input {
  width: 200px;
  padding: 4px 6px;
}

.password-box {
  margin: 20px;
}

#update-phone {
  padding-left: 10px;
}

#update-pwd {
  padding-left: 10px;
}

#update-phone .bt_green {
  margin-left: 0;
  width: 70px;
}

#update-pwd .bt_green {
  margin-left: 0;
  width: 70px;
}

#update-phone .cancel_button {
  width: 40px;
}

#update-pwd .cancel_button {
  width: 40px;
}

.user_info_box .password-box {
  margin-bottom: 0;
}

.forget_pwd {
  float: right;
}

.recember-password-box {
  float: left;
}
.security-code-box{
  overflow: auto;
}