<div class="container">
  <%= link_to "添加新快递", new_admin_express_path, class: 'btn btn-primary new-action' %>
  <table id="expresses-table" class="table table-hover" data-source="<%= admin_expresses_path(format: :json) %>">
    <thead>
      <tr>
        <th>快递公司</th>
        <th>快递公司代码</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>