.payment-detail-container {
    text-align: center;
    background-color: #e8e8e8;
    display: block;
}
.payment-detail {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 56px;
}
.payment-deadline {
    font-size: 14px;
    height: 44px;
    width: 880px;
    border-bottom: solid 1px rgba(0, 0, 0, 10);
}
.payment-progress {
    margin-top: 40px;
}
.payment-hint {
    font-size: 16px;
    margin-top: 40px;
}
.payment-choise {
    margin-top: 112px;
    display: inline-block;
    height: 58px;
    position: relative;
}
.order-radio {
    height: 24px;
    width: 24px;
}
.radio-icon {
    float: left;
    padding-top: 17px;
}
.payment-icon {
    float: left;
}
.payment-button {
    width: 300px;
    height: 36px;
    background-color: #3baf47;
    color: #ffffff;

}
.order-detail {
    display: inline-block;
    background-color: #f7f7f7;
    color: #6b6b6b;
    font-size: 14px;
    width: 100%;
    height: 100px;
    padding: 21px 0;
    margin-top: 76px;
}
.order-picture {
    float: left;
    width: 104px;
    height: 104px;
    margin-left: 28px;
}
.order-description {
    float: left;
    text-align: left;
}
.order-description-text {
    margin-left: 46px;
    width: 210px;
}
.order-summary {
    height: 48px;
    border-right: 1px solid rgba(0, 0, 0, 10);
    margin-top: 16px;
}
.product-in-order {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
}
.total-price {
    color: #3fb134;
}
.inline-layout {
    display: inline;
}
.flex {
    display: inline-block;
    width: 20px;
}
.flex-y {
    height: 28px;
    display: block;
}