body {
    text-align: center;
    background-color: #000000;
}
.privicy-container {
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    width: 960px;
    background-color: #ffffff;
    padding-top: 40px;
    margin-top: 100px;
}
.privicy-detail {
    width: 760px;
    height: 388px;
    margin-left: auto;
    margin-right: auto;
}
.privicy-detail h1 {
    font-size: 24px;
}
.close-button {
    width: 235px;
    height: 36px;
    background-color: #15ae10;
    font-size: 14px;
    color: white;
    margin-top: 40px;
}
.privicy-text {
    margin-top: 40px;
    text-align: left;
    font-size: 16px;
    overflow-y: scroll;
    height: 320px;
}