<div class="container">
  <table id="contest-teams-table" class="table table-hover" data-source="<%= admin_contest_teams_path(format: :json) %>">
    <thead>
      <tr>
        <th>名称</th>
        <th>联系方式</th>
        <th>经验值</th>
        <th>是否重置初始密码</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
