<div class="container-fluid">
  <div style="margin-bottom: 16px">
    <%= link_to "导出CSV", admin_orders_path(format: :csv), class: 'order-csv-link btn btn-primary' %>
    <%= link_to "导入发货CSV", upload_delivery_admin_orders_path, class: 'order-csv-link btn btn-primary' %>
    <%= link_to "导入支付CSV", upload_payment_admin_orders_path, class: 'order-csv-link btn btn-primary' %>
  </div>
  <table id="orders-table" class="table table-hover" data-source="<%= admin_orders_path(format: :json) %>">
    <thead>
      <tr>
        <th>订单号</th>
        <th>商品名称</th>
        <th>单价</th>
        <th>数量</th>
        <th>总价</th>
        <th>收件人</th>
        <th>收件人联系方式</th>
        <th>省份</th>
        <th>城市</th>
        <th>地区</th>
        <th>详细地址</th>
        <th>状态</th>
        <th>下单时间</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
