<div class="user-op-form-link">
  新用户，快速注册？&#x2192
</div>
<div class="user-op-form-panel center-block login-box">
  <div class="user-op-form-header">
    登陆
  </div>
  <%= form_for @user, url: {action: :do_login} do |f| %>
    <div class="username-panel input-panel">
      <%= f.text_field :username, placeholder: "注册手机号" %>
    </div>
    <div class="password-panel input-panel">
      <%= password_field_tag :password, '', placeholder: '密码' %>
    </div>
    <div class="forget-password-panel input-panel">
      忘记密码?
    </div>
    <div class="submit-panel input-panel">
      <%= f.submit "登录" %>
    </div>
  <% end %>
</div>
