<div class="user-op-form-link">
  新用户，快速注册？
</div>
<div class="user-op-form-panel center-block login-box">
  <div class="user-op-form-header">
    登陆
  </div>
  <form action="/user/do_login" method="post" accept-charset="utf-8">
    <div class="username-panel input-panel">
      <input type="text" name="username" id="username" placeholder="注册手机号">
    </div>
    <div class="password-panel input-panel">
      <input type="password" name="password" id="password" placeholder="密码">
    </div>
    <div class="forget-password-panel input-panel">
      忘记密码?
    </div>
    <div class="submit-panel input-panel">
      <input type="submit" value="登录">
    </div>
  </form>
</div>
