<div class="user-op-form-panel center-block reset-password-box">
  <div class="user-op-form-header">
    重置密码
  </div>
  <%= form_for @user, url: {action: :do_reset_password} do |f| %>
    <div class="password-panel input-panel">
      <%= password_field_tag :password, '', placeholder: '新密码' %>
    </div>
    <div class="password-confirm-panel input-panel">
      <%= password_field_tag :password, '', placeholder: '再输入一遍新密码' %>
    </div>
    <div class="submit-panel input-panel">
      <%= f.submit "确认" %>
    </div>
  <% end %>
</div>
