<% content_for :user_op_form_style do %>
  width: 960px; height: 540px; margin-top: 85px;
<% end %>
<div class="terms-of-service-title">
  服务条款
</div>
<div class="terms-of-service-content center-block">
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
  这是条款内容这是条款内容
</div>
<div>
  <input type="submit" class="close-button center-block" value="关闭">
</div>
