/**
 * Created with JetBrains WebStorm.
 * User: WEIDONG MENG
 * Date: 15-06-24
 * Time: 上午11:37
 * To change this template use File | Settings | File Templates.
 */

/*公共*/

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: SimHei, Helvetica, sans-serif;
  color: #333333;
  height: 100%;

}

ol, ul, li, h1, h2, h3, h4, form, input, p, a, textarea {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

i, em, strong, h1, h2, h3, h4 {
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #B1B1B1;
  cursor: pointer;

}

.a_live {
  color: #15ae10;
  text-decoration: underline;
}

button {
  border: none;
}

img {
  border: none;
}

input {
  outline: 0;
  border: 0;
}

.header_center {
  width: 960px;
  height: 58px;
  margin: 0 auto;
}

.center {
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
}

.container {
  overflow: hidden;
  width: 100%;
  z-index: 50;
}

.white {
  color: white;
}

.black {
  color: black;
}

.gray_bg {
  background-color: #F7F7F7;
}

/*header*/

.header {
  height: 58px;
  background-color: black;
}

.header_ul_left {
  float: left;
  overflow: hidden;
  height: 58px;
}

.header_ul_left li {
  line-height: 58px;
  float: left;
}

.header_ul_left li a {
  color: white;
  font-size: 16px;
}

.header_li_marign {
  margin: 0 30px;
}

.header-logo {
  width: 57px;
  height: 43px;
  margin-top: 4px;
}

.header_ul_right {
  float: right;
  height: 58px;
}

.header_ul_right li {
  line-height: 58px;
  float: left;
  margin: 0px 10px;
}

.header_ul_right li,
.header_ul_right li a {
  font-size: 16px;
  color: white;
}

/*about*/

.about_slogan {
  width: 100%;
  background-color: black;
  height: 424px;
  overflow: hidden;
}

.about_slogan_bg {
  display: block;
  height: 424px;
  margin: 0 auto;
  overflow: hidden;
  background-image: image-url('about_slogan_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.about_slogan_box {
  margin-top: 160px;
  position: relative;
}

.about_slogan_title {
  text-align: center;
  color: white;
  font-size: 56px;
}

.about_slogan_desc_box {
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
}

.other_desc_box {
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  color: #ffffff;
}

.coming_soon {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
}

.about_slogan_desc_text {
  float: left;
  font-size: 24px;
  color: white;
  text-align: center;
}

.about_slogan_desc_line {
  margin-top: 14px;
  float: left;
  width: 48px;
  border-bottom: 1px solid white;
}

.black_title {
  text-align: center;
  color: black;
  font-size: 24px;
}

.white_title {
  text-align: center;
  color: white;
  font-size: 24px;
  margin: 30px 0px;
}

.about_segment {
  padding: 30px 0;
  background-color: white;
}

.about_segment_ul {
  overflow: hidden;
  padding-top: 30px;
}

.about_segment_li {
  float: left;
  width: 122px;
}

.about_segment_li img {
  display: block;
}

.about_segment_img {
}

.about_segment_title {
  text-align: center;
  margin: 10px 0px;
}

.about_segment_p {
  text-align: center;
  line-height: 18px;
}

.team {
  height: 300px;
  background-color: black;
  overflow: hidden;
}

.team_bg {
  overflow: hidden;
  height: 300px;
  margin: 0 auto;
  background-image: image-url('about_company.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.team_desc_box {
  position: relative;
}

.team_desc {
  margin-top: 80px;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 34px;
}

.contact_box {
  overflow: hidden;
  position: relative;
}

.contact {
  height: 300px;
  background-color: black;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-image: image-url("about_contact.png");
  height: 300px;
}

.contact_desc {
  margin-top: 90px;
  font-size: 16px;
  color: white;
  text-align: center;
}

.contact_segment_ul {
  overflow: hidden;
  width: 692px;
  margin-left: 215px;
}

.contact_segment_li {
  float: left;
  margin: 5px 20px;
}

.contact_address {
  margin-top: 2px;
}

.partner {
  margin-bottom: 40px;
}

.partner_center {
  display: block;
  margin: 0 auto;
}

/*footer*/

.footer {
  overflow: hidden;
  height: 90px;
  background-color: black;
}

.footer-page-links {
  overflow: hidden;
  width: 580px;
  margin: 0 auto;
  margin-top: 20px;
}

.footer-page-links li {
  float: left;
  padding: 0px 30px;
  color: #8A9195;
}

.footer_ul {
  overflow: hidden;
  width: 580px;
  margin: 0 auto;
  margin-top: 20px;
}

.footer_ul li {
  float: left;
  padding: 0px 30px;
  border-right: 1px solid #333333;
}

.footer_ul li a, button {
  color: #8A9195;
  font-size: 12px;
}

/*order menu */

.order_menu {
  float: left;
  width: 130px;
  padding: 0px 10px;
  background-color: white;
}

.order_menu ul li {
  border-bottom: 1px solid #EEEEEE;
  width: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 4px;
}

.order {
  overflow: hidden;
  padding: 40px 0px;
}

.order_menu ul li.li_current {
  border-bottom: 1px solid #3FB134;
}

.order_box {
  float: right;
  width: 760px;
  min-height: 717px;
  background-color: white;
  padding: 0 20px;
  z-index: 10;
}

.status_box {
  overflow: hidden;
}

.status_box ul li {
  float: left;
  margin-right: 20px;
}

.status_box ul li a {
  position: relative;
  z-index: 22;
  float: left;
  padding: 15px 0;
  margin-right: 15px;
}

.order_row {
  width: 750px;
  height: 177px;
  background-color: #F7F7F7;
  margin-top: 10px;
}

.order_product_thumbnail {
  width: 100px;
  height: 100px;
}

.order_title {
  color: #979797;
  height: 36px;
  line-height: 36px;
  background-color: #E7E7E7;
  padding: 0 20px 0 10px;
}

.order_box .account_setting_return_action {
  text-align: left;
  color: #979797;
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #EEEEEE;
}

.order_box .return_action {
  position: relative;
  text-align: center;
  color: #6b6b6b;
}

.order_box .return_action_link {
  position: absolute;
  left: 0;
  top: 0;
  color: #6b6b6b;
}

.order_infos {
  overflow: hidden;
  margin-top: 21px;
}

.order_infos li {
  width: 124px;
  float: left;
  text-align: center;
}

.product_text_color {
  color: #6B6B6B;;
  max-height: 38px;
  overflow-y: hidden;
}

.product_title {
  color: #6B6B6B;
}

.product_name {
}

.product_price {
  line-height: 24px;
  color: #6b6b6b;
}

.order_action {
  margin-top: 25px;
  margin-left: 20px;
}

.product_tt {
  margin-top: 20px;
  height: 40px;
  border-right: 1px solid #EEEEEE;
}

.product_tt_40 {
  line-height: 40px;
  text-align: center;
}

.order_hight {
  color: #3f3f3f;
}

.pay_order {
  display: block;
  color: white;
  width: 84px;
  height: 30px;
  line-height: 30px;
  background-color: #3FB134;
  margin-top: 5px;
}

.cancel_order {
  display: block;
  width: 84px;
  height: 30px;
  line-height: 30px;
  color: #979797;
  margin-top: 4px;
  font-size: 12px;
}

.page_action {
  overflow: hidden;
  margin: 20px 0;
}

.page_action ul {
  overflow: hidden;
  width: 420px;
  margin: 0 auto;
}

.page_action ul li {
  float: left;
  margin-right: 20px;
}

.page_action ul li a {
  display: block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #F7F7F7;
}

.return_action {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #EEEEEE;
}

.order_process {
  margin: 30px 0px;
}

.order_info {
  height: 100px;
  background-color: #F7F7F7;
  padding: 20px;
}

.order_product {
  float: left;
}

.order_product_info {
  float: left;
  margin-left: 30px;
  margin-top: -10px;
}

.order_product_info ul li {
  margin: 6px 0;
  color: #6b6b6b;
  width: 440px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.order_product_info ul li span {
  color: #3f3f3f;
}

.order_product_price {
  float: right;
  margin-right: 20px;
  margin-top: 75px;
  color: #6b6b6b;
}

.order_product_name {
  font-size: 16px;
}

.order_info_block {
  float: left;
  width: 450px;
  background-color: #F7F7F7;
  padding: 15px;
  height: 110px;
  font-size: 16px;
  margin-top: 20px;
  color: #979797;
}

.order_info_block li {
  color: #6B6B6B;
  font-size: 14px;
  line-height: 24px;
}

.order_span {
  color: #3f3f3f;
}

.info_block {
  overflow: hidden;
  width: 760px;
}

.order_info_block2 {
  overflow: hidden;
  float: right;
  width: 220px;
  height: 110px;
  background-color: #F7F7F7;
  padding: 15px;
  font-size: 16px;
  margin-top: 20px;
  color: #979797;
}

.order_info_block2 ul {
  margin-top: 10px;
}

.order_info_block2 ul li {
  margin: 5px 0;
  color: #3f3f3f;
  font-size: 14px;
}

.bt_green {
  border-radius: 4px;
  color: white;
  float: right;
  padding: 10px 15px;
  background-color: #3FB134;
  margin: 10px 10px 10px 0;
  border: 1px solid #EAEAEA;
  text-align: center;
  cursor: pointer;
}

.bt {
  border-radius: 4px;
  color: #6B6B6B;
  float: right;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid #EAEAEA;
  margin: 10px;
  text-align: center;
}

.our_ts {
  background-color: #031522;
  overflow: hidden;
  padding: 25px 0;
}

.our_ts_center {
  width: 780px;
  margin: 0 auto;
  overflow: hidden;
}

.our_ts_li {
  float: left;
  padding: 0 30px;
}

.our_ts_img {
  float: left;
}

.our_ts_one_content {
  float: left;
  margin-left: 20px;
}

.our_ts_one_left_border {
  border-left: 1px solid #44515B;
  padding-left: 10px;
}

.our_ts_one_title {
  color: #DEE0E2;
  font-size: 16px;
}

.our_ts_one_desc {
  color: #909090;
  padding: 6px 0;
}

.our_ts_one_desc_contact {
  color: #909090;
  padding: 2px 0;
}

.service_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.update_action {
  float: right;
}

.update_action a:hover {

}

.user_info {
  margin: 20px 0;
}

.cd_input {
  border-radius: 4px;
  width: 224px;
  height: 30px;
  line-height: 30px;
  padding: 4px 6px;
  background-color: #EBEBEB;
  border: 1px solid #DEDEDE;
}

.user_info_box {
  overflow: hidden;
  background-color: #F7F7F7;
  padding: 6px;
  margin: 10px 0;
  display: none;
}

.user_info_box ul li {
  overflow: hidden;
}

.delivery_user ul li {
  overflow: hidden;
  background-color: #F7F7F7;
  padding: 5px 8px;
  font-size: 14px;
}

.user_address_li {
  margin-top: 6px;
}

.user_before {
  float: left;
}

.set_address_default {
  color: #6b6b6b;
  float: right;
  margin: 0 20px;
}

.user_after {
  color: #6b6b6b;
  float: right;
  margin: 0px 20px;
}

.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: image-url("popup_black_bg.png");
  z-index: 99;
}

.popup_box {
  width: 640px;
  margin: 0 auto;
  margin-top: 120px;
  padding-bottom: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 3px 3px 3px #666;
  z-index: 99;
}

.address_center {
  width: 480px;
  margin: 0 auto;
  margin-top: 20px;
}

#edit_address_box .error-message {
  font-size: 12px;
  color: red;
  line-height: 16px;
  height: 16px;
  width: 100%;
  margin-bottom: 8px;
}

.green_text {
  color: #15AE10;
}

.cd_select {
  border-radius: 4px;
  width: 153px;
  height: 38px;
  padding: 4px 6px;
  background-color: #EBEBEB;
  border: 1px solid #DEDEDE;
}

.delivery_user span {
  float: left;
}

.address_span {
  width: 80px;
  text-align: left;
  color: #979797;
}

.status_box ul {
  overflow: hidden;
}

.current_tab {
  border-bottom: 2px solid #3FB134;
}

.status_box_line {
  width: 750px;
  border-bottom: 2px solid #EEEEEE;
  margin-bottom: 10px;
  position: relative;
  top: -2px;
  z-index: 5;
}

.service_box p {
  line-height: 22px;
}

.resales_popup_box {
  overflow: hidden;
  width: 400px;
  height: 180px;
  background-color: white;
  margin: 180px auto 0px auto;
  box-shadow: 3px 3px 3px #666;
  z-index: 99;
}

.customer_service_info {
  width: 250px;
  margin: 45px auto 0 auto;
}

.customer_service_info ul li {
  margin: 14px 0;
  color: #909090;
}

.customer_service_info ul li a {
  color: #909090;
}

.confirm_popup_box {
  position: relative;
  width: 400px;
  height: 180px;
  margin: 180px auto 0 auto;
  background-color: white;
  overflow: hidden;
  box-shadow: 3px 3px 3px #666;
  z-index: 99;
}

.confirm_title {
  margin-top: 62px;
  margin-left: 39px;
  color: #909090;
}

.confirm_action {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.confirm_action a {
  color: #909090;
}

.currnet_address {
  color: #3FB134;
}

.user_icon {
  margin-top: 15px;
  *margin-top: 0;
}

.cd_dropdown {
  width: 140px;
  position: absolute;
  right: 0;
  top: 40px;
  display: none;
  z-index: 100;
}

.cd_dropdown ul {
  background-color: #ffffff;
  margin-top: -25px;
  border-left: 1px solid #15ae10;
  border-right: 1px solid #15ae10;
  border-bottom: 1px solid #15ae10;
}

.cd_dropdown ul li {
  float: none;
  line-height: 40px;
  width: 100%;
}

.cd_dropdown ul li a {
  text-align: center;
  display: block;
  color: #6b6b6b;
  font-size: 14px;
  width: 114px;
  border-bottom: 1px solid lightgray;
}

#open_privicy_box {
  background-color: #000000;
  border: none;
  cursor: pointer;
}

#terms_of_privicy_container {
  background-image: image-url('popup_black_bg.png');
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  display: none;
  z-index: 100;
  left: 0;
  top: 0;
}

.terms_of_privicy {
  margin-right: auto;
  margin-left: auto;
  height: 500px;
  width: 960px;
  background-color: #ffffff;
  padding-top: 40px;
  margin-top: 100px;
}

.terms_of_privicy_detail {
  width: 760px;
  height: 388px;
  margin-left: auto;
  margin-right: auto;
}

.terms_of_privicy_text {
  margin-top: 40px;
  text-align: left;
  font-size: 16px;
  overflow-y: scroll;
  height: 320px;
}

.terms_of_privicy_text h1 {
  font-size: 24px;
}

.terms_of_privicy_close_button {
  width: 235px;
  height: 36px;
  background-color: #15ae10;
  font-size: 14px;
  color: white;
  margin-top: 40px;
}

.header_account_link_wrapper {
  position: relative;
  z-index: 10;
}

#update-phone #username-input {
  margin-top: 15px;
}

.security-code-button {
  height: 42px;
  margin-bottom: 0;
}

#update-pwd .cd_input {
  margin-top: 15px;
}

#update-phone {
  padding-left: 10px;
}

#update-pwd {
  padding-left: 10px;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}