// Place all the styles related to the contest_teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.team-client-login {
  background-image: image-url("bannerback.png");
  min-width: 1280px;
  text-align: center;
  height: 100%;
  min-height: 768px;
}
.login-bottom-dialog {
  width: 520px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding: 36px 0;
  margin-top: -40px;
  //text-align: center;
}
.login-team-entrance {
  font-size: 24px;
  color: #2cba6b;
}
.login-team-input {
  width: 223px;
  height: 28px;
  font-size: 12px;
  color: #6b6b6b;
  margin-top: 20px;
  background-color: #ebebeb;
  border: solid 1px #dedede;
  padding: 4px 6px;
  line-height: 36px;
}
.login-submit {
  width: 235px;
  height: 36px;
  text-align: center;
  background-color: #15ae10;
  color: #ffffff;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}
.team-client-reset-pwd {
  background-image: image-url("bannerback.png");
  min-width: 1280px;
  text-align: center;
  height: 100%;
  min-height: 768px;
}
.game-reset-pwd-dialog {
  width: 520px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding: 36px 0;
  margin-top: -40px;
}

.game-reset-pwd-dialog .error-message{

  width: 240px;

  margin: 0 auto;

}

.game-reset-pwd-team-entrance {
  font-size: 24px;
  color: #2cba6b;
}
.game-reset-pwd-team-input {
  width: 223px;
  height: 28px;
  font-size: 12px;
  color: #6b6b6b;
  margin-top: 24px;
  background-color: #ebebeb;
  text-align: left;
  border: solid 1px #dedede;
  padding: 4px 6px;
  line-height: 36px;
}
.game-reset-pwd-submit {
  width: 115px;
  height: 36px;
  text-align: center;
  background-color: #15ae10;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.game-reset-pwd-back {
  width: 115px;
  height: 26px;
  text-align: center;
  background-color: #ffffff;
  color: #757575;
  border: 1px solid #eaeaea;
  display: block;
  padding-top: 8px;
  cursor: pointer;
}
.game-reset-pwd-bottom {
  margin-top: 24px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.game-reset-pwd-button {
  float: left;
}
.game-reset-pwd-flex-x {
  display: block;
  float: left;
  width: 5px;
  height: 36px;
}

.team_login_error_box{

  width: 232px;
  margin: 0 auto;
  text-align: left;
  margin-top: 8px;

}

.team_performance_top_box{
  overflow: hidden;
}
.team_performance_top {
  height: 148px;
  border: 1px solid #ebebeb;
  margin-top: 30px;
  width: 480px;
  float: left;
  padding: 12px;
}
.team_performance_image{
  float: right;
  margin-top: 30px;
}
.team_performance_time_hint {
  font-size: 14px;
  color: #757575;
  float: right;
  height: 30px;
  line-height: 30px;
}
.team_performance_time_hint span {
  color: #fe6a29;
  cursor: auto;
}
.team_performance_title {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
  height: 26px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 692px;
}
.team_performance_line {
  width: 480px;
  height: 1px;
  background-color: #ebebeb;
  position: relative;
  top: -2px;
  z-index: 10;
}
.team_performance_tab {
  overflow: hidden;
}
.team_performance_bottom_tab {
  overflow: hidden;
}
.team_performance_tab ul li {
  float: left;
  margin-right: 32px;
}
.team_performance_tab ul li a {
  position: relative;
  float: left;
  padding: 8px 0;
  z-index: 22;
  font-size: 16px;
}
.team_performance_tab ul {
  overflow: hidden;
}
.team_performance_bottom_tab ul li {
  float: left;
  margin-right: 32px;
}
.team_performance_bottom_tab ul li a {
  position: relative;
  float: left;
  padding: 8px 0;
  z-index: 22;
  font-size: 16px;
}
.team_performance_bottom_tab ul {
  overflow: hidden;
}
.team_performance_top_results {
  padding-top: 20px;
}
.team_performance_top_results_top {
  height: 40px;
  line-height: 40px;
}
.team_performance_top_results_top_number {
  float: left;
  height: 32px;
  width: 158px;
  text-align: center;
  font-size: 21px;
  padding-top: 8px;
}
.team_performance_top_results_bottom {
  height: 40px;
  line-height: 40px;
  margin-top: 4px;
}
.team_performance_top_results_bottom_text {
  float: left;
  font-size: 16px;
  color: #757575;
  width: 158px;
}
.team_performance_bottom {
  margin-top: 24px;
  border: 1px solid #ebebeb;
  margin-left: auto;
  margin-right: auto;
  padding: 13px;
}
.team_performance_bottom_table {
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
  border-top: 1px solid #ebebeb;
  width: 692px;
  border-collapse: collapse;
  color: #757575;
}
.team_performance_bottom_table tr {
  border-bottom: 1px solid #ebebeb;
}
.team_performance_bottom_table tr td {
  padding: 10px 0 10px 10px;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.title_black {
  color: #212121;
}
#team_performance_top_results_today {
  display: none;
}
#team_performance_bottom_table_today {
  display: none;
}

.team_share_link_product {
    display: inline-block;
    *display: inline;
    zoom: 1;
    border: 1px solid #ebebeb;
    width: 660px;
    padding: 30px;
    height: 138px;
}
.team_share_link_product_qrcode {
    float: left;
}
.team_share_link_detail {
    float: left;
    text-align: left;
    margin-left: 30px;
}
.team_share_link_detail_name {
    font-size: 16px;
    height: 32px;
    border-bottom: 1px solid #ebebeb;
    width: 460px;
    color: #212121;
}
.team_share_link_detail_url {
    margin-top: 18px;
}
.team_share_link_detail_url a {
    color: #0ca011;
}
.team_share_link_detail_share {
    margin-left: 16px;
    margin-top: 13px;
}
.team-notification-detail {
  text-align: left;
  font-size: 16px;
  line-height: 25px;
}
.team-notification-detail ol {
  padding-left: 20px;
}
.team-notification-detail ol li {
  list-style-type: decimal;
  margin-top: 10px;
}
.team-notification-detail ol li ol li {
  list-style-type: lower-roman;
  margin-top: 0;
}
.team-notification-title {
  font-size: 18px;
}

.qccy-wx-container {
  padding: 32px 8px;
  color: #fff;
}

.team_performance_product_index {
  padding: 2px 6px;
  background-color: red;
  color: white;
}

.team_performance_product_quantity {
  color: #16B51B;
}

.team_performance_product_total_price {
  color: red;
}

.team_performance_index_col {
  width: 90px;
}

.team_performance_name_col {
  width: 318px;
}

.team_performance_sale_count_col {
  width: 120px;
}