// Place all the styles related to the contest_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game_poster_content {
  text-align: center;
}

.game_poster {
  width: 960px;
}

.game_container {
  background: #3BBD75;
}

.game_recommend_content {
  background: white;
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
  position: relative;
}

.game_recommend_product_container {
  margin-top: 50px;
}

.game_recommend_product_content {
  float: left;
  width: 240px;
  margin-left: 54px;
  margin-bottom: 50px;
  text-align: left;
  border: 1px solid #E5E5E5;
}

.game_recommend_title {
  padding-top: 50px;
  text-align: center;
  margin: 50px 30px 0 30px;
}

.game_recommend_product_detail {
  border-top: 1px solid #E5E5E5;
  padding: 20px 16px 12px 24px;
}

.game_share_content {
  position: absolute;
  right: 30px;
  top: 50px;
}

.game_recommend_product_prices {
  line-height: 22px;
}

.recommend_product_price {
  color: #FB3127;
}

.recommend_product_original_price {
  font-size: 12px;
  text-decoration: line-through;
}

.recommend_product_original_price_link .recommend_product_original_price {
  color: #337ab7;
}

.game_recommend_product_img {
  width: 240px;
  height: 240px;
}

.game_share_title {
  margin-top: 10px;
  float: left;
}

.game_share_icons {
  float: left;
  margin-left: 10px
}

.team_share_link_detail_p {
  width: 450px;
  word-break: break-all;
}

.team_share_link_detail_share_desc {
  float: left;
  margin-top: 10px;
}

.bdsharebuttonbox {
  float: left;
}

.game_recommend_product_name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 16px;
}

