// Place all the styles related to the refund_records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.team_return_goods_top {
  height: 150px;
  border: 1px solid #ebebeb;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 720px;
  position: relative;
}
.team_return_goods_top_data {
  float: left;
  width: 170px;
  text-align: center;
  height: 65px;
  border-right: 1px solid #ebebeb;
  padding-top: 15px;
  margin-top: 35px;
}
.team_return_goods_top_data_number {
  font-size: 21px;
}
.team_return_goods_top_data_text {
  font-size: 16px;
  margin-top: 4px;
}
.team_return_goods_top_text {
  text-align: left;
  float: right;
  width: 186px;
  height: 150px;
  background-color: #16b51b;
  color: white;
  padding: 0px 10px;
}
.team_return_goods_top_text_title {
  margin-top: 20px;
  font-size: 16px;
  color: white;
}
.team_return_goods_top_text_detail {
  font-size: 14px;
  color: white;
  margin-top: 16px;
}
.team_return_goods_middle {
  width: 694px;
  border: 1px solid #ebebeb;
  //padding: 13px;
  margin-top: 20px;
}
.team_return_goods_middle_title {
  font-size: 16px;
  text-align: center;
  color: #979797;
  width: 692px;
  border-bottom: 1px solid #ebebeb;
  height: 26px;
}
.team_return_goods_middle table {
  text-align: left;
  border-top: 1px solid #ebebeb;
  width: 692px;
  border-collapse: collapse;
  color: #757575;
}
.team_return_goods_middle table tr {
  border-bottom: 1px solid #ebebeb;
  padding-top: 5px;
  padding-bottom: 5px;
}
.team_return_goods_middle table tr td {
  padding-left: 10px;
  line-height: 24px;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
}
.team_return_goods_table_title {
  color: #212121;
}
.team_return_goods_bottom {
  margin-top: 26px;
  border: 1px solid #ebebeb;
  width: 694px;
  padding: 13px;
}
.team_return_goods_bottom_title {
  font-size: 16px;
  text-align: center;
  color: #979797;
  width: 692px;
  border-bottom: 1px solid #ebebeb;
  height: 26px;
}
.team_return_goods_bottom_add {
  margin-top: 8px;
  height: 26px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}
.team_return_goods_bottom_add a {
  color: #15ae10;
  font-size: 16px;
  position: absolute;
  right: 0;
}
.team_return_goods_bottom table {
  text-align: left;
  font-size: 16px;
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
  width: 692px;
  border-collapse: collapse;
  color: #757575;
}
.team_return_goods_bottom table tr {
  border-bottom: 1px solid #ebebeb;
}
.team_return_goods_bottom table tr td {
  padding-left: 10px;
  float: left;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.team_return_goods_popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: image-url("popup_black_bg.png");
  z-index: 99;
}
.team_return_goods_popup_box {
  width: 640px;
  margin: 0 auto;
  margin-top: 120px;
  background-color: white;
  box-shadow: 3px 3px 3px #666;
  z-index: 99;
  padding-top: 60px;
  height: 460px;
}
.team_return_goods_popup_title {
  font-size: 16px;
  color: #212121;
  text-align: center;
}
.team_return_goods_popup_detail {
  height: 141px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}
.team_return_goods_popup_title_row{
  display: block;
  height: 20px;
  margin-bottom: 10px;
  margin-top: 22px;
}

.team_return_goods_popup_row {
  display: block;
  height: 38px;
  padding-bottom: 2px;
}
.team_return_good_input{
  width: 186px;
  height: 28px;
  line-height: 36px;
  border: 1px solid #dedede;
  background-color: #ebebeb;
  border-radius: 3px;
  padding: 4px 5px;
}
.team_return_name{
  font-size: 12px;
  float: left;
}
.team_return_line{
  border-bottom: 1px solid #efefef;
  float: right;
  width: 340px;
  margin-top: 9px;
  *margin-top: -8px;
}
.return_good_reset{
  width: 120px;
  height: 36px;
  line-height: 36px;
  border:1px solid #EAEAEA;
  text-align: center;
  cursor: pointer;
}
.return_good_submit{
  border: 0;
  width: 120px;
  height: 36px;
  line-height: 36px;
  background-color: #3fb134;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-left: 20px;
}
.team_return_good_select {
  border-radius: 4px;
  width: 194px;
  height: 38px;
  padding: 4px 6px;
  background-color: #EBEBEB;
  border: 1px solid #DEDEDE;
}

.popup_title {
  color: red;
}

.team_return_good_info_box {
  float: left;
  width: 180px;
  margin-right: 20px;
}

.team_return_goods_count {
  color: #fe6a29;
}

.team_return_good_name_span {
  float: left;
  width: 12px;
  height: 12px;
  background-color: #16b51b;
  margin-top: 6px;
  margin-right: 4px;
}

.team_refund_record_status_0 {
  background-color: #F58919;
  color: white;
  padding: 4px;
  font-size: 12px;
}

.team_refund_record_status_1 {
  background-color: #16b51b;
  color: white;
  padding: 4px;
  font-size: 12px;
}

.team_refund_record_status_10 {
  background-color: #bfbfbf;
  color: white;
  padding: 4px;
  font-size: 12px;
}

.team_refund_record_order_number {
  font-size: 12px;
}

.team_refund_record_tracking_number {
  font-size: 12px;
}

.team_return_prompt {
  color: #979797;
  font-size: 12px;
}

.team_return_good_name {
  width: 186px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.team_return_good_receiver {
  width: 90px;
}

.team_return_good_phone {
  width: 146px;
}

.team_return_good_address {
  width: 226px;
}

.team_return_order_id_col {
  width: 140px;
  word-break: normal;
  word-wrap: break-word;
  overflow: hidden;
}

.team_return_order_count_col {
  width: 40px;
}

.team_return_order_receiver_col {
  width: 90px;
}

.team_return_order_express_col {
  width: 100px;
}

.team_return_order_tracking_number_col {
  width: 100px;
  word-break: normal;
  word-wrap: break-word;
  overflow: hidden;
}

.team_return_order_status_col {
  width: 106px;
}
.team_return_contacts{
  overflow: hidden;
}
.team_return_contacts_ul{
  overflow: hidden;
}
.team_return_contact {
  float: left;
  line-height: 32px;
  padding: 0 20px;
  margin: 20px 20px;
  cursor: pointer;
}
.team_return_current_contact{
  border-radius: 4px;
  border: 1px solid #16b51b;
  border-bottom: 0;
  color: #16b51b;
}
.team_return_contacts_bottom_line{
  height: 1px;
  background-color: #16b51b;
  position: relative;
  top: -21px;
  *top: 0px;
}