<div class="container">
  <%= link_to "返回", admin_product_product_carousel_images_path(@product), class: 'btn btn-default' %>
  <div style="margin-top: 16px">
    <%= form_tag admin_product_product_carousel_images_path(@product), multipart: true do |f| %>
      <div class="form-group">
        <input type="file" name="images[]" class="product-carousel-images-input" multiple>
      </div>
    <% end %>
  </div>
</div>
