<div class="container product-carousel-images">
  <%= link_to "返回", admin_products_path, class: 'btn btn-default' %>
  <%= link_to "编辑", edit_admin_product_product_carousel_images_path(@product), class: 'btn btn-primary' %>
  <div style="margin-top: 16px">
    <% @product.product_view.product_carousel_images.each_with_index do |image, i| %>
      <a class="thumbnail">
        <%= image_tag(asset_url(image.url, host: Settings.cdn.hosts[i % Settings.cdn.hosts.length]), class: 'carousel-image') %>
      </a>
    <% end %>
  </div>
</div>
