<% content_for :page_title do %>
  商品已被抢光-草垛网
<% end %>
<div class="payment-detail-container">
  <div class="payment-detail">
    <div class="flex-top"></div>
    <div class="error-icon">
      <%= image_tag "s.png", class: "warning-icon" %>
    </div>
    <div class="text-top">很抱歉，手慢了一点点～</div>
    <% if @onsale %>
      <div class="text-bottom">有买家未付款，您还有机会抢到此商品。先逛逛，发现更多心仪的酷玩吧</div>
    <% else %>
      <div class="text-bottom">商品闪购已经结束了，去看看其他酷玩吧</div>
    <% end %>
    <div>
      <a href="/" class="go-on-shopping">
        继续逛逛
      </a>
    </div>
  </div>
</div>
