<div class="order_box">
  <div class="status_box">
    <ul>
      <li>
        <a href="" class="currnet_tab">
          全部订单
        </a>
      </li>
      <li>
        <a>
          待付款
        </a>
      </li>
      <li>
        <a>
          待收货
        </a>
      </li>
      <li>
        <a>
          已完成
        </a>
      </li>
    </ul>
    <div class="status_box_line">
    </div>
  </div>
  <!--table-->
  <div>
    <ul>
      <li>
        <div class="order_row">
          <div class="order_title">
            <span style="float: left"> 订单号：32523523919</span>
            <a href="order.html" style="float: right">查看订单</a>
          </div>
          <ul class="order_infos">
            <li>
              <img src="img/product_img.png">
            </li>
            <li>
              <div class="product_title">
                产品
              </div>
              <div class="product_tt ">
                <div class="product_text_color">
                  乐心职能设计师
                </div>
                <div class="product_price">
                  <span>$352</span>（单价）
                </div>
              </div>
            </li>
            <li>
              <div class="product_title">
                购买数量
              </div>
              <div class="product_tt product_tt_40">
                x<span>1</span>
              </div>
            </li>
            <li>
              <div class="product_title">
                订单金额
              </div>
              <div class="product_tt product_tt_40 order_hight">
                $352
              </div>
            </li>
            <li>
              <div class="product_title">
                订单状态
              </div>
              <div class="product_tt product_tt_40 order_hight">
                待付款
              </div>
            </li>
            <li>
              <div class="product_title">
                订单操作
              </div>
              <div class="order_action product_tt_40">
                <a href="" class="pay_order"> 立即支付 </a>
                <a onclick="show_cancel_order_box()" class="cancel_order"> 取消订单 </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="order_row">
          <div class="order_title">
            <span style="float: left"> 订单号：32523523919</span>
            <a href="order.html" style="float: right">查看订单</a>
          </div>
          <ul class="order_infos">
            <li>
              <img src="img/product_img.png">
            </li>
            <li>
              <div class="product_title">
                产品
              </div>
              <div class="product_tt ">
                <div class="product_text_color">
                  乐心职能设计师
                </div>
                <div class="product_price">
                  <span>$352</span>（单价）
                </div>
              </div>
            </li>
            <li>
              <div class="product_title">
                购买数量
              </div>
              <div class="product_tt product_tt_40">
                x<span>1</span>
              </div>
            </li>
            <li>
              <div class="product_title">
                订单金额
              </div>
              <div class="product_tt product_tt_40 order_hight">
                $352
              </div>
            </li>
            <li>
              <div class="product_title">
                订单状态
              </div>
              <div class="product_tt product_tt_40 order_hight">
                待付款
              </div>
            </li>
            <li>
              <div class="product_title">
                订单操作
              </div>
              <div class="order_action product_tt_40">
                <a href="" class="pay_order"> 立即支付 </a>
                <a onclick="show_cancel_order_box()" class="cancel_order"> 取消订单 </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="order_row">
          <div class="order_title">
            <span style="float: left"> 订单号：32523523919</span>
            <a href="order.html" style="float: right">查看订单</a>
          </div>
          <ul class="order_infos">
            <li>
              <img src="img/product_img.png">
            </li>
            <li>
              <div class="product_title">
                产品
              </div>
              <div class="product_tt ">
                <div class="product_text_color">
                  乐心职能设计师
                </div>
                <div class="product_price">
                  <span>$352</span>（单价）
                </div>
              </div>
            </li>
            <li>
              <div class="product_title">
                购买数量
              </div>
              <div class="product_tt product_tt_40">
                x<span>1</span>
              </div>
            </li>
            <li>
              <div class="product_title">
                订单金额
              </div>
              <div class="product_tt product_tt_40 order_hight">
                $352
              </div>
            </li>
            <li>
              <div class="product_title">
                订单状态
              </div>
              <div class="product_tt product_tt_40 order_hight">
                待付款
              </div>
            </li>
            <li>
              <div class="product_title">
                订单操作
              </div>
              <div class="order_action product_tt_40">
                <a href="" class="pay_order"> 立即支付 </a>
                <a onclick="show_cancel_order_box()" class="cancel_order"> 取消订单 </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="order_row">
          <div class="order_title">
            <span style="float: left"> 订单号：32523523919</span>
            <a href="order.html" style="float: right">查看订单</a>
          </div>
          <ul class="order_infos">
            <li>
              <img src="img/product_img.png">
            </li>
            <li>
              <div class="product_title">
                产品
              </div>
              <div class="product_tt ">
                <div class="product_text_color">
                  乐心职能设计师
                </div>
                <div class="product_price">
                  <span>$352</span>（单价）
                </div>
              </div>
            </li>
            <li>
              <div class="product_title">
                购买数量
              </div>
              <div class="product_tt product_tt_40">
                x<span>1</span>
              </div>
            </li>
            <li>
              <div class="product_title">
                订单金额
              </div>
              <div class="product_tt product_tt_40 order_hight">
                $352
              </div>
            </li>
            <li>
              <div class="product_title">
                订单状态
              </div>
              <div class="product_tt product_tt_40 order_hight">
                待付款
              </div>
            </li>
            <li>
              <div class="product_title">
                订单操作
              </div>
              <div class="order_action product_tt_40">
                <a href="" class="pay_order"> 立即支付 </a>
                <a onclick="show_cancel_order_box()" class="cancel_order"> 取消订单 </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="order_row">
          <div class="order_title">
            <span style="float: left"> 订单号：32523523919</span>
            <a href="order.html" style="float: right">查看订单</a>
          </div>
          <ul class="order_infos">
            <li>
              <img src="img/product_img.png">
            </li>
            <li>
              <div class="product_title">
                产品
              </div>
              <div class="product_tt ">
                <div class="product_text_color">
                  乐心职能设计师
                </div>
                <div class="product_price">
                  <span>$352</span>（单价）
                </div>
              </div>
            </li>
            <li>
              <div class="product_title">
                购买数量
              </div>
              <div class="product_tt product_tt_40">
                x<span>1</span>
              </div>
            </li>
            <li>
              <div class="product_title">
                订单金额
              </div>
              <div class="product_tt product_tt_40 order_hight">
                $352
              </div>
            </li>
            <li>
              <div class="product_title">
                订单状态
              </div>
              <div class="product_tt product_tt_40 order_hight">
                待付款
              </div>
            </li>
            <li>
              <div class="product_title">
                订单操作
              </div>
              <div class="order_action product_tt_40">
                <a href="" class="pay_order"> 立即支付 </a>
                <a onclick="show_cancel_order_box()" class="cancel_order"> 取消订单 </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="order_row">
          <div class="order_title">
            <span style="float: left"> 订单号：32523523919</span>
            <a href="order.html" style="float: right">查看订单</a>
          </div>
          <ul class="order_infos">
            <li>
              <img src="img/product_img.png">
            </li>
            <li>
              <div class="product_title">
                产品
              </div>
              <div class="product_tt ">
                <div class="product_text_color">
                  乐心职能设计师
                </div>
                <div class="product_price">
                  <span>$352</span>（单价）
                </div>
              </div>
            </li>
            <li>
              <div class="product_title">
                购买数量
              </div>
              <div class="product_tt product_tt_40">
                x<span>1</span>
              </div>
            </li>
            <li>
              <div class="product_title">
                订单金额
              </div>
              <div class="product_tt product_tt_40 order_hight">
                $352
              </div>
            </li>
            <li>
              <div class="product_title">
                订单状态
              </div>
              <div class="product_tt product_tt_40 order_hight">
                待付款
              </div>
            </li>
            <li>
              <div class="product_title">
                订单操作
              </div>
              <div class="order_action product_tt_40">
                <a href="" class="pay_order"> 立即支付 </a>
                <a onclick="show_cancel_order_box()" class="cancel_order"> 取消订单 </a>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <!--page action-->
  <div class="page_action">
    <ul>
      <li>
        <a href="">
          &lt;
        </a>
      </li>
      <li>
        <a href="">
          1
        </a>
      </li>
      <li>
        <a href="">
          2
        </a>
      </li>
      <li>
        <a href="">
          3
        </a>
      </li>
      <li>
        <a href="">
          4
        </a>
      </li>
      <li>
        <a href="">
          5
        </a>
      </li>
      <li>
        <a href="">
          6
        </a>
      </li>
      <li>
        <a href="">
          7
        </a>
      </li>
      <li>
        <a href="">
          &gt;
        </a>
      </li>
    </ul>
  </div>
</div>
