# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5fcde55229e1c492060a986011025feb8d2f8ad908846b66994f249bbe86ee28d15b9b41bd49a8b462cbffcf8ff237141c4e3f86451ea41b2226a67bf1b25926

test:
  secret_key_base: 7e75ed8b5946d585f8aeb54b6dbc5fa737ed8f529815938d438a143c802905fae90653aa0427c0d6a41015cec96b56a6ccf4c554d7d457ef3eedd0f55722a4f1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
