<% @links.each do |link| %>
  <div>
    <div class="team_share_link_product">
      <div class="team_share_link_product_qrcode">
        <%= image_tag "team-share-qrcode.png", :title => "title", :class => "class" %>
      </div>
      <div class="team_share_link_detail">
        <div class="team_share_link_detail_name"><%= link[:title] %></div>
        <div class="team_share_link_detail_url">营销链接： <%= link_to link[:url], link[:url] %></div>
        <div class="team_share_link_detail_share">分享至：</div>
      </div>
    </div>
  </div>
<% end %>
