<% @links.each do |link| %>
  <div>
    <div class="team_share_link_product">
      <div class="team_share_link_product_qrcode">
        <div class="team_share_link_product_qrcode_img">
        </div>
      </div>
      <div class="team_share_link_detail">
        <div class="team_share_link_detail_name"><%= link[:title] %></div>
        <div class="team_share_link_detail_url">营销链接：<p class="team_share_link_detail_p"><%= link_to link[:url], link[:url] %></p> </div>
        <div class="team_share_link_detail_share">
          <span class="team_share_link_detail_share_desc">分享至：</span>
          <div class="bdsharebuttonbox">
            <a class="csns-share-button" data-cmd="tsina"></a>
            <a class="csns-share-button" data-cmd="qzone"></a>
            <a class="csns-share-button" data-cmd="renren"></a>
            <a class="csns-share-button" data-cmd="wechat"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

