<div class="team-notification">
  <div class="team-notification-title">团队须知</div>
  <div class="team-notification-detail">
    <ol>
      <li>参加大学生营销策划赛的团队将通过线上分享团队专属的草垛网页面链接以及线下推广的方式进行商品的销售。参赛团队应指引消费者通过团队专属链接进行购买，保证销售数据的及时、准确记录。</li>
      <li>比赛期间，草垛网全程记录团队的销售数据，每支参赛团队可以在网站团队业绩界面查看团队的销售量、销售金额、退货率、网页浏览量等数据。数据定义如下：
        <ol>
          <li>销售量：团队所卖出商品的数量；以客户付款为准，被退商品将自动从销售量中扣除；</li>
          <li>销售金额：团队所卖出的商品的总金额，以草垛网记录为准;</li>
          <li>退货率：退货率=实际退货数/(实际销量+实际退货数)；</li>
          <li>网页浏览量：团队可以通过分享商品和大赛网页进行营销。网页浏览量记录团队所有分享的网页的访问次数。</li>
        </ol>
      </li>
      <li>初赛期间，产品累计销量超过100件的参赛团队，可选择增加销售A类智能电子产品；产品累计销量超过300件的参赛团队，可选择增加销售B类智能电子产品；产品累计销量超过500件的参赛团队，可选择增加销售C类智能电子产品。A、B、C类产品销售价格、销售奖励依次增高。销售更高类别的产品有助于更高效积累营销业绩。</li>
      <li>参赛团队在大赛期间要为各自团队所卖出的商品负责退货，如果购买商品的消费者希望退货，大赛团队应尽力协助处理。退货后团队的销售数据会减去退货的商品。因此，团队应在营销时要以诚实信用为原则，向消费者正确传达商品信息。在处理退换货问题中应注意：
        <ol>
          <li>只支持退货;</li>
          <li>只处理签收日次日起七日内的退货；</li>
          <li>退货运费由买家负责；</li>
        </ol>
      </li>
      <li>参赛团队于2015年7月31日前将营销方案提交到大赛组委会指定邮箱（qccyyxs2015@caodoo.com），并抄送高校组委会。</li>
      <li>初赛于2015年8月30日23点59分结束，初赛结束后草垛网后台自动停止记录各团队销售数据。</li>
      <li>参赛团队可通过微信、微博等线上传播平台积极分享自己团队页面，并结合线下推广活动对团队进行自我宣传。统一宣传模板下载地址：<a>http://pan.baidu.com/s/1kT9u6TD</a></li>
      <li>参赛团队在比赛期间自行拍摄比赛图片、视频，并上传至微视“中国创翼”大学生营销策划赛专区。</li>
      <li>“中国创翼”大学生营销策划赛官网：<a>http://www.qccy.org</a>，大赛指定合作伙伴草垛网：<a>http://www.caodoo.com</a></li>
      <li>
        <p>联系方式:</p>
        <p>大赛组委会：（010）84084903</p>
        <p>草垛网：<span><%= Settings.contact.telephone %></span>，微信服务号：<span><%= Settings.contact.wechat %></span></p>
      </li>
      <li>大赛团队后台使用指导：
        <ol>
          <li>进入团队大赛后台后在页面最上方的导航栏靠右侧位置会显示团队的名称，点击团队名称显示重置密码和退出当前团队账户的功能。在页面左边有四个选项卡：团队业绩，分享链接，退货管理和团队须知。团队业绩显示团队的销售情况；分享链接显示团队参赛要使用的页面；在退货管理页面团队为希望退货并满足要求的用户退货并跟踪退货状态；团队须知页面显示使用大赛团队后台时的使用注意。</li>
          <li>在团队业绩页面可以查看当前团队的总体业绩和各个产品销售情况。在“团队大赛业绩”栏目可以查看团队从开赛开始到现在各项数据的总体统计和今日统计。在“产品销售情况”栏目可以查看团队销售的各个商品的销售数量和金额。</li>
          <li>分享链接页面显示团队当前可售商品和对应的分享的链接。通过将链接分享出去可以帮助团队在社交网络中进行营销，提高业绩。团队专属的草垛网链接页面包含团队信息，当消费者从这个页面购买大赛商品时，所产生的销售额会记录在团队上。用户访问链接的浏览量也会记录在团队上。团队可以通过扫描二维码或直接点击分享按钮将自己团队的链接分享到社交平台。</li>
          <li>参赛团队在通过退货管理页面处理大赛期间自己团队所卖出商品的退货。参赛团队为退货负责，需要和想退货的消费者核对是否满足退货要求。对于满足要求的退货申请，团队要为消费者建立退货单。团队通过点击添加新退货单申请退货。请注意，团队应告知消费者按照页面中间显示退货联系方式将商品寄回，之后再为消费者录入退货单。页面下部显示了当前申请退货的退货单和处理状态。如果退货不满足要求或出现异常情况，退货单会被作废处理，点击“作废”文字可以查看退货失败原因。可以与我们的客服人员进一步沟通。</li>
        </ol>
      </li>
    </ol>
  </div>
</div>