<div class="order_box">
  <div class="status_box">
    <ul>
      <li>
        <a onclick="show_new_address_box()" class="currnet_tab">
          添加收货地址
        </a>
      </li>
    </ul>
    <div class="status_box_line">
    </div>
  </div>
  <div class="delivery_user">
    <ul>
      <li>
        <ul>
          <li>
            <span class="address_span">
              收件人：
            </span>
            <span>
              青云
            </span>
            <span class="default_address" style="float: right;margin-right: 20px;color: #3FB134">
              默认地址
            </span>
          </li>
          <li>
            <span class="address_span">
              所在地区：
            </span>
            <span>
              北京市东城区王府井大街
            </span>
          </li>
          <li>
            <span class="address_span">
              地址：
            </span>
            <span>
              世纪大厦2134
            </span>
          </li>
          <li>
            <span class="user_before address_span">
              手机：
            </span>
            <span class="user_before">
              15811628765
            </span>
            <a class="user_after" onclick="show_del_box()">删除</a>
            <a class="user_after" onclick="show_update_address_box()">修改</a>
            <a style="display: none;" class="set_address_default">设为默认地址</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <span class="address_span">
              收件人：
            </span>
            <span>
              青云
            </span>
            <span class="default_address" style="display: none;float: right;margin-right: 20px;color: #3FB134">
              默认地址
            </span>
          </li>
          <li>
            <span class="address_span">
              所在地区：
            </span>
            <span>
              北京市东城区王府井大街
            </span>
          </li>
          <li>
            <span class="address_span">
              地址：
            </span>
            <span>
              世纪大厦2134
            </span>
          </li>
          <li>
            <span class="user_before address_span">
              手机：
            </span>
            <span class="user_before">
              15811628765
            </span>
            <a class="user_after" onclick="show_del_box()">删除</a>
            <a class="user_after" onclick="show_update_address_box()">修改</a>
            <a class="set_address_default">设为默认地址</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <span class="address_span">
              收件人：
            </span>
            <span>
              青云
            </span>
            <span class="default_address" style="display: none;float: right;margin-right: 20px;color: #3FB134">
              默认地址
            </span>
          </li>
          <li>
            <span class="address_span">
              所在地区：
            </span>
            <span>
              北京市东城区王府井大街
            </span>
          </li>
          <li>
            <span class="address_span">
              地址：
            </span>
            <span>
              世纪大厦2134
            </span>
          </li>
          <li>
            <span class="user_before address_span">
              手机：
            </span>
            <span class="user_before">
              15811628765
            </span>
            <a class="user_after" onclick="show_del_box()">删除</a>
            <a class="user_after" onclick="show_update_address_box()">修改</a>
            <a class="set_address_default">设为默认地址</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <span class="address_span">
              收件人：
            </span>
            <span>
              青云
            </span>
            <span class="default_address" style="display: none;float: right;margin-right: 20px;color: #3FB134">
              默认地址
            </span>
          </li>
          <li>
            <span class="address_span">
              所在地区：
            </span>
            <span>
              北京市东城区王府井大街
            </span>
          </li>
          <li>
            <span class="address_span">
              地址：
            </span>
            <span>
              世纪大厦2134
            </span>
          </li>
          <li>
            <span class="user_before address_span">
              手机：
            </span>
            <span class="user_before">
              15811628765
            </span>
            <a class="user_after" onclick="show_del_box()">删除</a>
            <a class="user_after" onclick="show_update_address_box()">修改</a>
            <a class="set_address_default">设为默认地址</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <span class="address_span">
              收件人：
            </span>
            <span>
              青云
            </span>
            <span class="default_address" style="display: none;float: right;margin-right: 20px;color: #3FB134">
              默认地址
            </span>
          </li>
          <li>
            <span class="address_span">
              所在地区：
            </span>
            <span>
              北京市东城区王府井大街
            </span>
          </li>
          <li>
            <span class="address_span">
              地址：
            </span>
            <span>
              世纪大厦2134
            </span>
          </li>
          <li>
            <span class="user_before address_span">
              手机：
            </span>
            <span class="user_before">
              15811628765
            </span>
            <a class="user_after" onclick="show_del_box()">删除</a>
            <a class="user_after" onclick="show_update_address_box()">修改</a>
            <a class="set_address_default">设为默认地址</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <span class="address_span">
              收件人：
            </span>
            <span>
              青云
            </span>
            <span class="default_address" style="display: none;float: right;margin-right: 20px;color: #3FB134">
              默认地址
            </span>
          </li>
          <li>
            <span class="address_span">
              所在地区：
            </span>
            <span>
              北京市东城区王府井大街
            </span>
          </li>
          <li>
            <span class="address_span">
              地址：
            </span>
            <span>
              世纪大厦2134
            </span>
          </li>
          <li>
            <span class="user_before address_span">
              手机：
            </span>
            <span class="user_before">
              15811628765
            </span>
            <a class="user_after" onclick="show_del_box()">删除</a>
            <a class="user_after" onclick="show_update_address_box()">修改</a>
            <a class="set_address_default">设为默认地址</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            <span class="address_span">
              收件人：
            </span>
            <span>
              青云
            </span>
            <span class="default_address" style="display: none;float: right;margin-right: 20px;color: #3FB134">
              默认地址
            </span>
          </li>
          <li>
            <span class="address_span">
              所在地区：
            </span>
            <span>
              北京市东城区王府井大街
            </span>
          </li>
          <li>
            <span class="address_span">
              地址：
            </span>
            <span>
              世纪大厦2134
            </span>
          </li>
          <li>
            <span class="user_before address_span">
              手机：
            </span>
            <span class="user_before">
              15811628765
            </span>
            <a class="user_after" onclick="show_del_box()">删除</a>
            <a class="user_after" onclick="show_update_address_box()">修改</a>
            <a class="set_address_default">设为默认地址</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
