<% content_for :page_header do %>
  <a class="back mobile_go_back_button">
    <%= image_tag "mobile_back.png" %>
  </a>
  <div class="mobile-page-title">
    客户服务
  </div>
<% end %>
  <div class="container service_container">
    <p>
      如果您在购物过程中有任何疑问，或者对您的订单和账户有任何问题，我们的客服团队将竭诚问您服务。 请使用以下两种方式联系客服人员：
      <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信：<%= Settings.contact.wechat %>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：<%= Settings.contact.telephone %>
      <br>
      <br> 草垛网致力于为您提供最优质的商品，如果您对所购商品不满意或发现商品有质量问题，请联系客服，我们将竭尽全力为您解决问题。
      <br>
      <br> 草垛网所售商品均为正品行货，如果您需要开具发票，请联系客服人员。
      <br>
      <br> 退货说明：
      <br> &nbsp;&nbsp;&nbsp;&nbsp;草垛商品均以限时限量的抢购模式进行销售，库存有限，暂不提供换货服务。
      <br> &nbsp;&nbsp;&nbsp;&nbsp;产品自签收次日起7日内可无条件退货（以快递公司的送货单上的签收日期为准）。
      <br> 请注意：
      <br> &nbsp;&nbsp;&nbsp;&nbsp;如遇物流纸箱损坏必须当场拆封验货拒收，否则草垛网不承担赔偿。退回商品不能有损坏或部分配件遗失，须以原始购买时的包装形式退回，除非产品本身已有瑕疵。如果是商品原因，我们负责运费。如果是客户自身原因，由客户承担商品返回运费。运费一律由客户预付，事后会返还至支付的账户，谢绝到付件。
      <br>
      <br> 以下情况不在退货范围内，请您仔细阅读：
      <br> &nbsp;&nbsp;&nbsp;1. 任何非草垛网出售的商品和过保产品（商品序列号不符，以草垛网记载为准）
      <br> &nbsp;&nbsp;&nbsp;2. 根据国家规定，不实行7天退货的产品。（例如成人用品、保健器械、急救卫生、母婴健康）
      <br> &nbsp;&nbsp;&nbsp;3. 商品（包含赠品）原包装、原配件不齐全； 随商品附带的商品购买凭证、说明书、包装等有污 渍、破损或缺少等，无法提供购买凭证。无法提供商品的发票（如已索要发票）、保修卡等三包凭证或者三包凭证信息与商品不符及被涂改的；
      <br> &nbsp;&nbsp;&nbsp;4. 未经授权的维修、误用、碰撞、疏忽、滥用、进液、事故、改动、不正确的安装所造成的商品质量问题，或撕毁、涂改标贴、机器序号、防伪标记的；
      <br> &nbsp;&nbsp;&nbsp;5. 商品返回草垛网的过程中由于包装或运输操作不当造成损坏。
      <br> &nbsp;&nbsp;&nbsp;6. 未联系客服进行退货登记，擅自将商品寄回草垛网的；
      <br> &nbsp;&nbsp;&nbsp;7. 部分特价或订单确认页中标明不提供退换货服务的商品。
    </p>
  </div>