<div class="container">
  <table id="products-table" class="table table-hover" data-source="<%= admin_products_path(format: :json) %>">
    <%= link_to "添加新商品", new_admin_product_path, class: 'btn btn-primary new-action' %>
    <thead>
      <tr>
        <th>名称</th>
        <th>品牌</th>
        <th>优惠价</th>
        <th>价格</th>
        <th>原价</th>
        <th>库存</th>
        <th>比赛等级</th>
        <th>型号</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
