
.team_performance_top {
  height: 168px;
  border: 1px solid #ebebeb;
  margin-left: auto;
  margin-right: auto;
  padding: 13px;
}
.team_performance_time_hint {
  font-size: 14px;
  color: #757575;
  float: right;
  *margin-top: -15px;
}
.team_performance_time_hint a {
  color: #fe6a29;
  cursor: auto;
}
.team_performance_title {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
  height: 26px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 692px;
}
.team_performance_line {
  width: 692px;
  height: 1px;
  background-color: #ebebeb;
  position: relative;
  top: -2px;
  z-index: 10;
}
.team_performance_tab {
  overflow: hidden;
}
.team_performance_bottom_tab {
  overflow: hidden;
}
.team_performance_tab ul li {
  float: left;
  margin-right: 32px;
}
.team_performance_tab ul li a {
  position: relative;
  float: left;
  padding: 8px 0;
  z-index: 22;
}
.team_performance_tab ul {
  overflow: hidden;
}
.team_performance_bottom_tab ul li {
  float: left;
  margin-right: 32px;
}
.team_performance_bottom_tab ul li a {
  position: relative;
  float: left;
  padding: 8px 0;
  z-index: 22;
}
.team_performance_bottom_tab ul {
  overflow: hidden;
}
.team_performance_top_results {
  padding-top: 30px;
}
.team_performance_top_results_top {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.team_performance_top_results_top_number {
  float: left;
  height: 32px;
  border-right: 1px solid #efefef;
  width: 170px;
  text-align: center;
  font-size: 21px;
  padding-top: 8px;
}
.team_performance_top_results_bottom {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.team_performance_top_results_bottom_text {
  float: left;
  font-size: 16px;
  color: #757575;
  width: 171px;
}
.team_performance_bottom {
  margin-top: 24px;
  border: 1px solid #ebebeb;
  margin-left: auto;
  margin-right: auto;
  padding: 13px;
}
.team_performance_bottom_table {
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
  border-top: 1px solid #ebebeb;
  width: 692px;
  border-collapse: collapse;
  color: #757575;
}
.team_performance_bottom_table tr {
  border-bottom: 1px solid #ebebeb;
}
.team_performance_bottom_table tr td {
  padding: 10px 0 10px 10px;
  width: 163px;
}
.title_black {
  color: #212121;
}
#team_performance_top_results_today {
  display: none;
}
#team_performance_bottom_table_today {
  display: none;
}