/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-fileinput
 *= require datatables-bootstrap3-plugin/media/css/datatables-bootstrap3
 *= require yadcf
 *= require font-awesome
 *= require eonasdan-bootstrap-datetimepicker
 *= require_tree ./admin
 *= require_self
 */

body {
  min-width: 320px;
}

.btn {
  min-width: 72px;
}

.form-container {
  max-width: 480px !important;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  padding: 24px;
}

.title, .form-title {
  font-size: 16px;
  color: #959595;
  margin-bottom: 12px;
}

.title {
  text-align: center;
}

.new-action {
  margin-bottom: 16px;
}

.carousel-image {
  width: 144px;
  height: 144px;
  margin-right: 16px;
}

.large-text-area {
  min-height: 600px;
}

.yadcf-filter-wrapper-inner {
  border: none !important;
}

dd {
  margin: 4px 0;
}

.yadcf-filter-range-date.form-control {
  width: 120px !important;
}

.yadcf-filter-range-number.form-control {
  width: 60px !important;
}

.yadcf-filter.form-control {
  width: 160px !important;
}

table.dataTable thead > tr > th {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bootstrap-datetimepicker-widget .yadcf-filter-wrapper {
  display: none;
}

.file-caption.kv-fileinput-caption {
  overflow: hidden;
}
