/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require datatables
 *= require datatables-bootstrap3-plugin/media/css/datatables-bootstrap3
 *= require font-awesome
 *= require_tree ./admin
 *= require_self
 */

.form-container {
  max-width: 480px !important;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  padding: 24px;
}

.form-title {
  font-size: 16px;
  color: #959595;
  margin-bottom: 12px;
}

.new-action {
  margin-bottom: 16px;
}

.btn {
  min-width: 72px !important; 
}

.carousel-image {
  width: 144px;
  height: 144px;
  margin-right: 16px;
}

.large-text-area {
  min-height: 600px;
}
