/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require  bootstrap/dist/css/bootstrap
 */

body {
  background-color: #E8E8E8 !important;
}
.app-navbar {
  min-height: 58px !important;
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: #000 !important;
  font-size: 16px !important;
}

.navbar-brand.brand {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.app-navbar.navbar-inverse .navbar-nav > li > a {
  color: #DEDEDE;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 28px;
}

.footer > * {
  display: inline-block;
  line-height: 90px;
}

.footer {
  text-align: center;
  line-height: 12px;
  background-color: #000;
  min-height: 90px;
  font-size: 12px;
  color: #8A8A8A;
  width: 100%;
}

.footer a {
  color: #8A8A8A;
}

.footer .copy-right {
  margin-left: 42px;
  margin-right: 42px;
}

.footer-promises-container {
  max-width: 960px;
}

.promises-row {
  background-color: #000;
  padding-top: 90px;
  padding-bottom: 70px;
}

.promise-panel {
  max-height: 35px;
  text-align: center;
  display: inline-block;
  width: 24%;
  vertical-align: text-top;
}

.promise-content, .promise-icon {
  display: inline-block;
  line-height: 35px;
  vertical-align: text-top;
}

.first-promise {
  line-height: 18px;
  font-size: 16px;
  color: #DEDEDE;
}

.second-promise {
  line-height: 17px;
  font-size:14px;
  color: #909090;
}

.custom-service-info {
  text-align: left;
}

button {
  border-radius: 1px;
}

.btn-red {
  background-color: #D73131;
  color: #FFF;
  font-size: 14px;
  border: none;
}
