/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require  bootstrap/dist/css/bootstrap
 */


.app-navbar {
  min-height: 58px !important;
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: #000 !important;
  font-size: 16px !important;
}

.navbar-brand.brand {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.app-navbar.navbar-inverse .navbar-nav > li > a {
  color: #DEDEDE;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 28px;
}

.footer > * {
  display: inline-block;
  line-height: 90px;
}

.footer {
  text-align: center;
  line-height: 12px;
  background-color: #000;
  min-height: 90px;
  font-size: 12px;
  color: rgba(255,255,255,0.54);
  width: 100%;
}

.footer a {
  color: rgba(255,255,255,0.54);
}

.footer .copy-right {
  margin-left: 42px;
  margin-right: 42px;
}

