<% content_for :body_style do %>
  background-color: black;
<% end %>
<% content_for :content do %>
  <div class="user-op-container">
    <div class="user-op-form-container">
      <div class="center-block user-op-form" style="<%= yield :user_op_form_style %>">
        <%= yield %>
      </div>
    </div>
    <%= image_tag("user-op-background.jpg", class: "center-block") %>
  </div>
<% end %>
<%= render template: "layouts/application" %>
